@charset "UTF-8";

@-ms-viewport	{width: device-width;}

body		{margin: 0;
		font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
		font-size:20px;
		/*overflow:hidden;*/}

.menu {margin: 0 auto 0 auto;}

.menu-box	{margin: 35px;
	float:left;}
	
.flex {
	display: flex;
	justify-content: center;
}

.p	{
	font-size :60px;
}

.menu-margin	{margin:20px;
}

#m		{float:left;
		width:300;
}

#w		{
}

#r		{float:right;
		text-align:left;
}


.name		{font-size:40px;
}

#text	{float:right;
}

