@charset "UTF-8";

@-ms-viewport	{width: device-width;}

body	{margin: 0;
	font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;}

p		{
	font-size:18px;
	font-weight:500;}
	

.header	{
	background-color:#FF0000;
	padding:20px;
}

.title	{
	background-color:#000000;
	color:#FFF;
}

.load {
width: 500px;
height: 500px;
    -webkit-animation: spin 3.5s linear infinite;
    -moz-animation: spin 3.5s linear infinite;
    -ms-animation: spin 3.5s linear infinite;
    -o-animation: spin 3.5s linear infinite;
    animation: spin 3.5s linear infinite;
}

@-webkit-keyframes spin {
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
	0% {-moz-transform: rotate(0deg);}
	100% {-moz-transform: rotate(360deg);}
}
@-ms-keyframes spin {
	0% {-ms-transform: rotate(0deg);}
	100% {-ms-transform: rotate(360deg);}
}
@-o-keyframes spin {
	0% {-o-transform: rotate(0deg);}
	100% {-o-transform: rotate(360deg);}
}
@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

h1		{margin:0;
}

p		{margin:0;
}